
<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li class="active">
              <a href="#/about">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation">

            <h1>ABOUT US</h1>
			</br>
            <h4 style="font-weight: 100;line-height: 25px;">
                Since 1914 we have offered vocationally inspired
                education relevant for the age. Back then our focus was on
                mining and ceramics. But times have changed and we have
                too. Now we’re delivering everything from Computer Games
                Design to Forensic Science.
            </h4>

            <h4 style="font-weight: 100;line-height: 25px;">
                Our vision and values are the foundation of Staffordshire
                University; it’s how we do things. That’ll never change.
            </h4>
            <a href="/about/topic">got to topic</a>

        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>