<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li>
              <a href="#/about">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
          <li class="active">
              <a href="#/courses/wind-energy/tutorials/create-chapter">
                  <i class="icon-chevron-right"></i>
                  Create Chapter
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation" style="min-height:350px;">

            <h1>Create Chapter Here</h1>
			</br>
            <label>Enter chapter name</label>
            <input type="text" placeholder="enter chapter name" ng-model="chapter_name">
            <br />
            <label>Select Pdf</label>
            <input class="form-control" type="file" file="file"  required />
            <br /><br />

            <button class="btn btn-sm" ng-click="uploadFile()">
                <strong>
                    Upload me
                </strong>
            </button>

            <hr />


        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>